name: Frappe CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-dev python3-pip redis-server mariadb-server wkhtmltopdf supervisor

      - name: Setup MariaDB
        run: |
          sudo systemctl start mariadb
          sudo mysql -e "SET GLOBAL character_set_server = 'utf8mb4';"
          sudo mysql -e "SET GLOBAL collation_server = 'utf8mb4_unicode_ci';"
          sudo mysql -e "CREATE DATABASE testdb;"

      - name: Setup Bench
        run: 